/*************************************/
/***************Typography***************/
/*************************************/
/*Font Size*/
.fs-xs{
    font-size: 10px;
}
.fs-sm{
    font-size: 12px;
}
.fs-md{
    font-size: 14px;
}
.fs-lg{
    font-size: 18px;
}
.fs-xl{
    font-size: 24px;
}
/*Font Weight*/
.fw-bd{
    font-weight: bold;
}
.fw-100{
    font-weight: 100;
}
/*Text Decoration*/
.td-lt{
    text-decoration: line-through;
}
.td-no{
    text-decoration: none;
}
.td-no:hover{
    text-decoration: none;
}

/*Text Align*/
.ta-r{
    text-align: right;
}
.ta-l{
    text-align: left;
}
.ta-c{
    text-align: center;
}
.ta-j{
    text-align: justify;
}


/*************************************/
/***************Visibility***************/
/*************************************/
.v-iv{
    visibility: hidden !important;
}
.v-v{
    visibility: visible !important;
}
.v-h{
    display: none !important;
}
.v-s{
    display: inherit !important;
}

/*************************************/
/***************Margin***************/
/*************************************/

/*Margin*/
.m-nm{
    margin: 0px;
}
.m-sm{
    margin: 10px;
}
.m-md{
    margin: 20px;
}
.m-lg{
    margin: 40px;
}
.m-xl{
    margin: 80px;
}

/*Margin top*/
.mt-sm{
    margin-top: 10px;
}
.mt-md{
    margin-top: 20px;
}
.mt-lg{
    margin-top: 40px;
}
.mt-xl{
    margin-top: 80px;
}


/*Margin right*/
.mr-sm{
    margin-bottom: 10px;
}
.mr-md{
    margin-bottom: 20px;
}
.mr-lg{
    margin-bottom: 40px;
}
.mr-xl{
    margin-bottom: 80px;
}

/*Margin bottom*/
.mb-sm{
    margin-bottom: 10px;
}
.mb-md{
    margin-bottom: 20px;
}
.mb-lg{
    margin-bottom: 40px;
}
.mb-xl{
    margin-bottom: 80px;
}


/*Margin left*/
.ml-sm{
    margin-left: 10px;
}
.ml-md{
    margin-left: 20px;
}
.ml-lg{
    margin-left: 40px;
}
.ml-xl{
    margin-left: 80px;
}

/*************************************/
/***************PADDING***************/
/*************************************/
/*Padding*/
.p-np{
    padding: 0px;
}
.p-sm{
    padding: 10px;
}
.p-md{
    padding: 20px;
}
.p-lg{
    padding: 40px;
}
.p-xl{
    padding: 80px;
}

/*Padding top*/
.pt-sm{
    padding-top: 10px;
}
.pt-md{
    padding-top: 20px;
}
.pt-lg{
    padding-top: 40px;
}
.pt-xl{
    padding-top: 80px;
}

/*padding right*/
.pr-sm{
    padding-bottom: 10px;
}
.pr-md{
    padding-bottom: 20px;
}
.pr-lg{
    padding-bottom: 40px;
}
.pr-xl{
    padding-bottom: 80px;
}

/*padding bottom*/
.pb-sm{
    padding-bottom: 10px;
}
.pb-md{
    padding-bottom: 20px;
}
.pb-lg{
    padding-bottom: 40px;
}
.pb-xl{
    padding-bottom: 80px;
}

/*padding left*/
.pl-sm{
    padding-left: 10px;
}
.pl-md{
    padding-left: 20px;
}
.pl-lg{
    padding-left: 40px;
}
.pl-xl{
    padding-left: 80px;
}

/*************************************/
/***************BORDER***************/
/*************************************/

.ba{
    border: solid 1px gray; 
}
.nb{
    border: 0px !important;
}
.bt{
    border-top: solid 1px gray; 
}
.br{
    border-right: solid 1px gray; 
}
.bb{
    border-bottom: solid 1px gray; 
}
.bl{
    border-left: solid 1px gray; 
}